* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
}

body {
  background-color: #f6f8fa;
  height: 100%;
  margin: 0;
  padding: 24px 16px 16px;
  width: 100%;
}

#markdown {
  border: 1px solid #d0d7de;
  overflow: auto;
  padding: 16px;
}

#toolbar {
  color: #1f2328;
  display: flex;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  gap: 16px;
  inset-block-start: 2px;
  position: absolute;
}

#toolbar span {
  font-weight: 500;
}

#toolbar a {
  background-color: transparent;
  color: #0969da;
  text-decoration: none;
}

#toolbar a:focus {
  box-shadow: none;
  outline: 2px solid #0969da;
  outline-offset: -2px;
}

#toolbar a:focus:not(:focus-visible) {
  outline: 1px solid transparent;
}

#toolbar a:focus-visible {
  box-shadow: none;
  outline: 2px solid #0969da;
  outline-offset: -2px;
}

#toolbar a:not([class]):focus,
#toolbar a:not([class]):focus-visible {
  outline-offset: 0;
}

#toolbar a:hover {
  text-decoration: underline;
}

@media (prefers-color-scheme: dark) {
  body {
    background: #161b22;
  }

  #markdown {
    border: 1px solid #30363d;
  }

  #toolbar {
    color: #e6edf3;
  }

  #toolbar a {
    color: #2f81f7;
  }

  #toolbar a:focus {
    outline: 2px solid #2f81f7;
  }

  #toolbar a:focus-visible {
    outline: 2px solid #2f81f7;
  }
}
