Options -Indexes

RewriteEngine On

# RewriteCond %{HTTP:X-Forwarded-Proto} !https
# RewriteCond %{HTTPS} off
# RewriteCond %{HTTP:CF-Visitor} !{"scheme":"https"}
# RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Disallow access to the some directory and file
RewriteRule ^(_notes|config|libs)(/|$) - [F,L]
RewriteRule ^src/utils\.php$ - [F,L]

RewriteRule ^$ src/list.php [L,QSA]
RewriteRule ^login$ src/login.php [L,QSA]
RewriteRule ^([a-zA-Z0-9_-]+)$ src/view.php?note=$1 [L,QSA]
RewriteRule ^edit/([a-zA-Z0-9_-]*)$ src/edit.php?note=$1 [L,QSA]
RewriteRule ^file/([a-zA-Z0-9_-]+)/(.+)$ src/file.php?note=$1&filename=$2 [B,L,QSA]

<IfModule mod_headers.c>
  Header set X-Robots-Tag "noindex, nofollow"
</IfModule>
