:root {
  --bgColor-danger-muted: #ffebe9;
  --bgColor-default: #ffffff;
  --bgColor-muted: #f6f8fa;
  --bgColor-neutral-muted: #818b981f;
  --borderColor-danger-muted: #ff818266;
  --borderColor-default: #d1d9e0;
  --borderColor-muted: #d1d9e0b3;
  --button-primary-bgColor-active: #197935;
  --button-primary-bgColor-disabled: #95d8a6;
  --button-primary-bgColor-hover: #1c8139;
  --button-primary-bgColor-rest: #1f883d;
  --button-primary-borderColor-active: #1f232826;
  --button-primary-borderColor-disabled: #95d8a6;
  --button-primary-borderColor-hover: #1f232826;
  --button-primary-borderColor-rest: #1f232826;
  --button-primary-fgColor-disabled: #ffffffcc;
  --button-primary-fgColor-rest: #ffffff;
  --button-primary-shadow-selected: inset 0px 1px 0px 0px #002d114d;
  --control-borderColor-rest: #d1d9e0;
  --fgColor-accent: #0969da;
  --fgColor-attention: #9a6700;
  --fgColor-danger: #d1242f;
  --fgColor-default: #1f2328;
  --fgColor-onEmphasis: #ffffff;
  --fgColor-success: #1a7f37;
  --focus-outlineColor: #0969da;
  --shadow-inset: inset 0px 1px 0px 0px #1f23280a;
  --shadow-resting-small: 0px 1px 0px 0px #1f23280a;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
    --bgColor-danger-muted: #f851491a;
    --bgColor-default: #0d1117;
    --bgColor-muted: #151b23;
    --bgColor-neutral-muted: #656c7633;
    --borderColor-danger-muted: #f8514966;
    --borderColor-default: #3d444d;
    --borderColor-muted: #3d444db3;
    --button-primary-bgColor-active: #2e9a40;
    --button-primary-bgColor-disabled: #105823;
    --button-primary-bgColor-hover: #29903b;
    --button-primary-bgColor-rest: #238636;
    --button-primary-borderColor-active: #ffffff1a;
    --button-primary-borderColor-disabled: #105823;
    --button-primary-borderColor-hover: #ffffff1a;
    --button-primary-borderColor-rest: #ffffff1a;
    --button-primary-fgColor-disabled: #ffffff66;
    --button-primary-fgColor-rest: #ffffff;
    --button-primary-shadow-selected: 0px 0px 0px 0px #000000;
    --control-borderColor-rest: #3d444d;
    --fgColor-accent: #4493f8;
    --fgColor-attention: #d29922;
    --fgColor-danger: #f85149;
    --fgColor-default: #f0f6fc;
    --fgColor-onEmphasis: #ffffff;
    --fgColor-success: #3fb950;
    --focus-outlineColor: #1f6feb;
    --shadow-inset: inset 0px 1px 0px 0px #0104093d;
    --shadow-resting-small: 0px 1px 0px 0px #01040966;
  }
}

* {
  box-sizing: border-box;
}

html {
  height: 100%;
  width: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  background-color: var(--bgColor-muted);
  color: var(--fgColor-default);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans",
    Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  height: 100%;
  line-height: 1.5;
  margin: 0;
  padding: 24px 16px 16px;
  width: 100%;
}

.toolbar {
  align-items: center;
  display: flex;
  gap: 16px;
  inset-block-start: 0;
  inset-inline: 16px;
  position: absolute;
}

#markdown {
  border: 1px solid var(--borderColor-default);
  height: 100%;
  overflow: auto;
  padding: 16px;
}

.markdown-body .anchor {
  margin-left: -16px;
  padding-right: 0;
}

.title {
  font-weight: 500;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

a {
  background-color: transparent;
  color: var(--fgColor-accent);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

a:focus,
button:focus {
  box-shadow: none;
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  outline: 1px solid transparent;
}

a:focus-visible,
button:focus-visible {
  box-shadow: none;
  outline: 2px solid var(--focus-outlineColor);
  outline-offset: -2px;
}

a:not([class]):focus,
a:not([class]):focus-visible {
  outline-offset: 0;
}

a:not([href]) {
  color: inherit;
  text-decoration: none;
}

a:focus:not(:focus-visible),
button:focus:not(:focus-visible) {
  box-shadow: none;
  outline: none;
}
